.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > div > img > img{
    object-fit: contain;
    height: 10px;
}
.login__logos{ 
    display: flex;
    flex-direction: column;
}
.login__logo{
    object-fit: contain;
    height: 150px;
}
.login > button{
    width: 300px;
    background-color: #c6cacf;
    color: #eff2f5;
    font-weight: 800;
}
.login > button:hover{
    color: #2e81f4;
    background-color: white;

 
}